
<header class="lg:px-16 px-4 bg-white text-black flex flex-wrap items-center py-4 shadow-md sticky top-0 z-50 ">
  <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/car-rental-design-template-77de0dea1cd86b877d17741b33aae341_screen.jpg?ts=1619683777" class="h-28 mr-3 sm:h-28" alt="Landwind Logo">
  <div class=" flex justify-between items-center">
      <a href="/home" class="text-3xl font-semibold mr-4">หน้าหลัก</a>
      
      
  </div>

  <label for="menu-toggle" class="pointer-cursor md:hidden block">
    <svg class="fill-current text-black"
      xmlns="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/car-rental-design-template-77de0dea1cd86b877d17741b33aae341_screen.jpg?ts=1619683777" width="20" height="20" viewBox="0 0 20 20">
      <title>menu</title>
      <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
    </svg>
  </label>
  <input class="hidden" type="checkbox" id="menu-toggle" />

  <div class="hidden md:flex md:items-center md:w-auto w-full" id="menu">
      <nav>
          <ul class="md:flex items-center justify-between text-3xl text-black pt-4 md:pt-0"> 
             
              <li><a class="md:p-4 py-3 px-0 block text-3xl font-semibold mr-4" href="/home/car">รถยนต์</a></li>
               <li><a class="md:p-4 py-3 px-0 block text-3xl font-semibold" href="/home/contact">ติดต่อเรา</a></li>
              
          </ul>
      </nav>
      
  </div>
</header>



<div class="flex  bg-sky-600 sticky top-32 z-50 justify-center">
  <div class="w-full sm:w-1/4 px-3 ml-24">
    <div class="mb-5">
      <label for="input3" class="mb-3 block text-2xl mt-2 font-semibold text-black">
        จุดรับ-คืนรถ
      </label>
      
      <select id="gender" name="gender"
      class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-black outline-none focus:border-[#070707] focus:shadow-md/" >
          <option value=" ">---------- </option>
          <option value="male">เสริมไทยคอมเพล็กซ์</option>
          <option value="female">มหาวิทยาลัยราชภัฏมหาสารคาม</option>
          <option value="other">บขส</option>
      </select>
    </div>
  </div>

  <div class="w-full sm:w-1/4 px-3">
    <div class="mb-5">
      <label for="date" class="mb-3 block text-2xl font-semibold text-black mt-2 ">
       วันรับรถ
      </label>
      <input type="date" name="date" id="date"
        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
    </div>
  </div>
  
  <div class="w-full sm:w-1/4 px-3">
    <div class="mb-5">
      <label for="date" class="mb-3 block text-2xl mt-2 font-semibold text-black">
        วันคืนรถ
      </label>
      <input type="date" name="date" id="date"
        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
    </div>
  </div>

  <div class="w-full sm:w-1/4 px-3">
    <div class="mb-5">
      <label for="time" class="mb-3 block text-2xl mt-2 font-semibold text-black">
        เวลา
      </label>
      <input type="time" name="time" id="time"
        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none 
        focus:border-[#6A64F1] focus:shadow-md" />
    </div>
  </div>

  <div class="w-full sm:w-1/4 px-3 mb-5">
    <button  routerLink= "/home/car" 
      class="dark:bg-white dark:text-black mt-12 dark:hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2
       focus:ring-black text-2xl flex items-center justify-center leading-none
     text-white bg-black w-56 py-4 hover:bg-gray-700 rounded-md">ค้นหารถเช่า
    </button>
  </div>

</div>


<!-- <div class="hidden md:flex md:items-center md:w-auto w-full">
  <div class="flex 1">
    <a class="btn btn-ghost normal-case text-3xl  " href="/home">หน้าหลัก</a>
  </div>
  <div class="flex 1">
    <a class="btn btn-ghost normal-case text-3xl  " href="/home/car">หมวดหมู่รถยนต์</a>
  </div>
  <div class="flex 1">
    <a class="btn btn-ghost normal-case text-3xl  " href="/home/contact">ติดต่อเรา</a>
  </div>
  </div> -->


<!-- <div class="hero h-screen "
  style="background-image: url(https://www.เช่ารถขับเอง.com/images/chaorodkubeang.jpg);">
  <div class="hero-overlay bg-opacity-60 "></div> -->
  

  
  <!-- <-- <div class="flex items-center justify-center p-12"> -->
    <!-- </div> -->
 



<a class="btn btn-ghost normal-case text-xl"></a>

<div class="py-10 bg-white">
  <div class="mb-10">
    <h1 class="tw-title text-5xl font-semibold ml-40">รถยอดนิยม</h1>
  </div>
  <div class="container m-auto px-6 text-white md:px-12 xl:px-0">
    <div class="mx-auto grid gap-6 md:w-3/4 lg:w-full lg:grid-cols-3">
      <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
        <div class="mb-12 space-y-4">
          <h3 class="text-3xl font-semibold text-black">HONDA CIVIC - 2022</h3>
          <h3 class="mb-4 text-black font-semibold">ทะเบียนรถ :2ขญ 7648 </h3>
          <h3 class=" mb-4 text-black font-semibold"> จำนวนที่นั่ง : 4 คน </h3>
          <h3 class=" mb-4 text-black font-semibold"> เกียร์ : ออโต้ </h3> 
          <!-- <br> สถานะ : <span id="ContentPlaceHolder1_DataList1_openStatusLabel_0"><span
                style="color:green;  font-weight:bold;">ว่าง</span></span> -->
           <a class=" mb-4 text-black text-2xl ml-40 font-semibold"> 2,980บาท/วัน</a>
            <br>
        </div>
        <div class="rating">
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star  bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star  bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" checked />
        </div>
        <img src="https://www.honda.co.th/uploads/car_models/colors/1654530276_222.png">
        <!-- <button  routerLink= "/home/cardetails"  class=" btn  text-xl bg-blue-700  text-white">รายละเอียดรถเช่า
        </button> -->
      </div>

     <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
        <div class="mb-12 space-y-4">
          <h3 class="text-3xl font-semibold text-black">FORD RANGER RAPTOR - 2022</h3>
          <h3 class="mb-4 text-black font-semibold"> ทะเบียนรถ :ต 0316 </h3>
          <h3 class=" mb-4 text-black font-semibold">จำนวนที่นั่ง : 5 คน </h3>
          <h3 class=" mb-4 text-black font-semibold"> เกียร์ : ออโต้ </h3>
          <!-- <br> สถานะ : <span id="ContentPlaceHolder1_DataList1_openStatusLabel_0"><span
            style="color:green;  font-weight:bold;">ว่าง</span></span> -->
            <a class=" mb-4 text-black text-2xl ml-40 font-semibold"> 1,899บาท/วัน</a>
        <br>
        </div>
        <div class="rating">
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" checked />
        </div>
        <img
          src="https://www.ford.co.th//content/dam/ecomm/raptor/release-1/th/th-th/jellybean/ranger-raptor-new-jb.jpg">
        <!-- <button  routerLink= "/home/cardetail9" class=" btn text-xl text-right bg-blue-700 text-white ">รายละเอียดรถเช่า
        </button> -->
        
      </div>
      
      <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
        <div class="mb-12 space-y-4">
          <h3 class="text-3xl font-semibold text-black">HONDA CITY BR-V - 2022</h3>
          <h3 class="mb-4 text-black font-semibold "> ทะเบียนรถ : งม 5932 </h3>
          <h3 class=" mb-4 text-black font-semibold">จำนวนที่นั่ง : 6 คน </h3>
          <h3 class=" mb-4 text-black font-semibold"> เกียร์ : ออโต้ </h3>
          <!-- <br> สถานะ : <span id="ContentPlaceHolder1_DataList1_openStatusLabel_0"><span
            style="color:green;  font-weight:bold;">ว่าง</span></span> -->
            <a class=" mb-4 text-black text-2xl ml-40 font-semibold"> 1,700บาท/วัน</a>
        <br>
        </div>
        <div class="rating">
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star  bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star  bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" checked />
        </div>
        <img src="https://www.honda.co.th/uploads/car_models/colors/1658764298_864.png">
        <!-- <button  routerLink= "/home/cardetail3" class=" btn  text-xl bg-blue-700 text-white">รายละเอียดรถเช่า
        </button> -->
      </div>
    </div>
  </div>
</div>


<div id="home-value-props " class="bg-white py-10 ml-14">
  <div class="tw-container">
    <div class="mb-10">
      <h1 class="tw-title text-5xl font-semibold ml-10">สถานที่ท่องเที่ยวยอดฮิตในมหาสารคาม</h1>
    </div>
    <div class="grid grid-cols-4 sm:gap-4 md:gap-6 lg:gap-6 xl:gap-6">
      <div class="card w-96 bg-base-100 shadow-xl">
        <figure><img src="https://roijang.com/wp-content/uploads/2022/05/shutterstock_1755545117.jpg" alt="Shoes" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">พระบรมธาตุนาดูน</h2>
          <p>พระบรมธาตุนาดูน พุทธมณฑลอีสาน
            ที่ถูกพัฒนาให้เป็นศูนย์กลางการส่งเสริมพุทธศาสนาที่สำคัญของทางภาคอีสานหรือภาคตะวันออกเฉียงเหนือ
            พระธาตุนาดูน มีประวัติความเป็นมาทางประวัติศาสตร์ไทยที่สำคัญ
            ที่แสดงให้เห็นถึงความรุ่งเรืองในสมัยโบราณเล่ากันว่าบริเวณนี้เคยเป็นที่ตั้งของนครจำปาศรีมาก่อนร้างขึ้นด้วยศิลปะทาราวดี
            ยุคสมัยที่เจริญรุ่งเรืองในสมัยนั้น
            องค์พระธาตุมีความสูงราว 50 เมตร และในทุกๆ
            ปีจะมีการจัดงานบูชาสักการะพระธาตุในวันสำคัญทางศาสนาและกิจกรรมเวียนเทียนรอบพระธาตุที่ยิ่งใหญ่ตระกาลตา
            ถือเป็นงานพิธีที่ผู้คนและนักท่องเที่ยวจะพร้อมใจกันหลั่งใหลมาไม่ขาดสาย</p>

        </div>
      </div>
      <div class="card w-96 bg-base-100 shadow-xl">
        <figure><img src="https://roijang.com/wp-content/uploads/2022/05/shutterstock_2067195806.jpg" alt="Shoes" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">สะพานไม้แกดำ</h2>
          <p>สะพานไม้แกดำ เป็นสะพานไม้เก่าแก่ที่มีความยาวถึง 1 กิโลเมตร ตั้งอยู่ภายในวัดดาวดึง อำเภอแกดำ
            ขาดว่าสะพานแห่งนี้มีอายุไม่ต่ำกว่า 100 ปีมาแล้ว
            เป็นแหล่งที่เที่ยวทางธรรมชาติเชิงอนุรักษ์ของ ที่เที่ยวมหาสารคาม
            เมืองแห่งความเรียบง่ายและแฝงไปด้วยวัฒนธรรมอันเก่าแก่ที่น่าหลงใหลผู้คนให้ความสนใจเป็นอย่างมากด้วยความคลาสสิคของสภาพวิวทิวทัศน์ที่ต้องสดุดตา
            สะพานไม้ทอดยาวข้ามอ่างเก็บน้ำหนองแกดำ
            มีฉากหลังเป็นวัดดาวดึงที่เห็นแล้วต้องร้องว๊าว สวยงามตามท้องเรื่องจริงๆ เลยจ้า </p>

        </div>
      </div>
      <div class="card w-96 bg-base-100 shadow-xl">
        <figure><img src="https://roijang.com/wp-content/uploads/2022/05/shutterstock_1962522211.jpg" alt="Shoes" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">วัดป่าวังน้ำเย็น </h2>
          <p>วัดป่าวังน้ำเย็น มหาสารคามที่เที่ยว เชิงอนุรักษ์พุทธศาสนา เป็นที่ศรัทธากันอย่างแพร่หลายของศาสนิกชนชาวพุทธ
            และเป็นที่สดุดตาน่าเลื่อมใสของ องค์พระมหาเจดีย์มหาสารคาม สีเหลืองทองตระกาลตา ศาลาการเปรียญ ที่ทำจากเสาไม้
            112 ต้น
            ถือว่าใหญ่ที่สุดในประเทศไทยเลยล่ะค่ะ เป็นวัดที่มีชื่อเสียงมากใน ตำบลเกิ้ง อำเภอเมือง จังหวัดมหาสารคาม
            เจดีย์สีเหลืองทององค์ใหญ่ตั้งตระหง่านภายในวัดเป็นจุด Unseen ที่น่าสนใจมากๆ</p>

        </div>
      </div>
      <div class="card w-96 bg-base-100 shadow-xl">
        <figure><img src="https://roijang.com/wp-content/uploads/2022/05/shutterstock_1744521497.jpg" alt="Shoes" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">พระพุทธรูปยืนมงคล วัดพุทธมงคล</h2>
          <p>พระพุทธยืนมงคล เป็นพระพุทธรูปองค์ยืนมงคลที่ตั้งอยู่ภายในวัดพุทธมงคล ต.โคกพระ อ.กันทรวิชัย
            เป็นที่เที่ยวมหาสารคาม ที่มีตำนานเก่าแก่และเป็นพระพุทธรูปคู่บ้านคู่เมืองมหาสารคามมายาวนาน
            คุณค่าต่อการมาเยือนมากๆเลยล่ะค่ะ
            เป็นสมบัติคู่เมืองมหาสารคามที่ค้นพบคู่กันกับ พระพุทธมิ่งเมืองนั่นเองจ้า</p>

        </div>
      </div>
    </div>

  </div>
</div>





<div id="home-value-props " class="bg-white py-7">
  <div class="tw-container">
    <div class="mb-10">
      <h1 class="tw-title text-5xl font-semibold ml-24">เช่ารถกับ Rentcar.</h1>
      <h5 class="tw-title  text-3xl  font-semibol tw-title--6 lg:tw-title--5  ml-28">เช่ารถกับเราดียังไง</h5>
    </div>
    <div class="grid grid-cols-4 sm:gap-4 md:gap-6 lg:gap-6 xl:gap-6">
      <div
        class="py-3 sm:block md:block lg:block col-span-full sm:col-span-4 md:col-span-2 lg:col-span-1 xl:col-span-undefined ml-56">
        <img alt="Cancellation Free" loading="lazy" width="74" height="96" decoding="async" data-nimg="1" class="mb-2"
          style="color:transparent "
          srcset="https://www.drivehub.com/_next/image?url=%2Fnext-assets%2Ficons%2Fvalue-props%2Fcancel-free.png&w=48&q=100"
          src="https://www.drivehub.com/_next/image?url=%2Fnext-assets%2Ficons%2Fvalue-props%2Fcancel-free.png&w=48&q=100&amp;w=96&amp;q=100">
        <p class="mb-1 tw-subtile tw-subtile-1 text-xl font-semibold">ยกเลิกฟรี</p>
        <p class=" leading-3 text-lg font-semibold">แจ้งล่วงหน้า 72 ชั่วโมง</p>
      </div>
      <div
        class="py-3 sm:block md:block lg:block col-span-full sm:col-span-4 md:col-span-2 lg:col-span-1 xl:col-span-undefined ml-36">
        <img alt="No Credit Card Needed" loading="lazy" width="74" height="96" decoding="async" data-nimg="1"
          class="mb-2" style="color:transparent"
          srcset="https://www.drivehub.com/_next/image?url=%2Fnext-assets%2Ficons%2Fvalue-props%2Fno-credit-card.png&w=48&q=100"
          src="/_next/image?url=%2Fnext-assets%2Ficons%2Fvalue-props%2Fno-credit-card.png&amp;w=96&amp;q=100">
        <p class="mb-1 tw-subtile tw-subtile-1  text-xl font-semibold">ไม่มีบัตรเครดิตก็เช่าได้</p>
        <p class="text-lg leading-3 font-semibold">แค่ใช้เอกสารยืนยันเท่านั้น</p>
      </div>
      <div
        class="py-3 sm:block md:block lg:block col-span-full sm:col-span-4 md:col-span-2 lg:col-span-1 xl:col-span-undefined ml-28">
        <img alt="Customer Service" loading="lazy" width="74" height="96" decoding="async" data-nimg="1" class="mb-2"
          style="color:transparent"
          srcset="https://www.drivehub.com/_next/image?url=%2Fnext-assets%2Ficons%2Fvalue-props%2Fcustomer-service.png&w=48&q=100"
          src="/_next/image?url=%2Fnext-assets%2Ficons%2Fvalue-props%2Fcustomer-service.png&amp;w=96&amp;q=100">
        <p class="mb-1 tw-subtile tw-subtile-1  text-xl font-semibold">เจ้าหน้าที่ดูแล</p>
        <p class="text-lg leading-3 font-semibold">มีเจ้าหน้าที่ดูแลตลอดการเช่า</p>
      </div>
      <div
        class="   py-3 sm:block md:block lg:block col-span-full sm:col-span-4 md:col-span-2 lg:col-span-1 xl:col-span-undefined">
        <img alt="Compare Price" loading="lazy" width="70" height="80" decoding="async" data-nimg="1" class="mb-2"
          style="color:transparent si "
          srcset="https://www.drivehub.com/_next/image?url=%2Fnext-assets%2Ficons%2Fvalue-props%2Fcompare-price.png&w=48&q=100"
          src="/_next/image?url=%2Fnext-assets%2Ficons%2Fvalue-props%2Fcompare-price.png&amp;w=96&amp;q=100">
        <p class="mb-1 tw-subtile tw-subtile-1  text-xl font-semibold">เปรียบเทียบราคา</p>
        <p class="text-lg leading-3 font-semibold">เทียบราคารถเช่าทุกบริษัทได้ทันที</p>
      </div>
    </div>
  </div>
</div>
<div class="navbar bg-base-100">
  <a class="btn btn-ghost normal-case text-xl"></a>
</div>



<div class="navbar bg-base-100">
  <a class="btn btn-ghost normal-case text-xl"></a>
</div>

<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3831.382697354187!2d103.26840347500763!3d16.200753684498014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3122a6ae121c1c2f%3A0x626cae9fcd86bf3d!2z4Lih4Lir4Liy4Lin4Li04LiX4Lii4Liy4Lil4Lix4Lii4Lij4Liy4LiK4Lig4Lix4LiP4Lih4Lir4Liy4Liq4Liy4Lij4LiE4Liy4Lih!5e0!3m2!1sth!2sth!4v1688561683612!5m2!1sth!2sth"
  width="1840" height="400" style="border:0;" allowfullscreen="" loading="lazy"
  referrerpolicy="no-referrer-when-downgrade min-h-screen"></iframe>



<!-- <footer *ngIf="showFooter" class="footer footer-center p-8 bg-slate-700 text-base-content text-end ">
    
    <div>
      <p></p>
    </div>
  </footer> -->
<footer class="footer footer-center p-8 bg-slate-700 text-base-content">
  <div>
    <button routerLink= "/home/login" class="text-white py-2 px-4 uppercase rounded bg-slate-700 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5">
    ผู้ประกอบการเข้าสู่ระบบ </button>
  </div>
</footer>