

  <form [formGroup]="formAdd" (ngSubmit)="Onsubmit()">
    
    <label for="userPassword">รหัสผ่านผู้ใช้</label>
    <input type="text" formControlName="userId" placeholder="รหัสผ่านผู้ใช้"><br>

    <label for="userPassword">ชื่อผู้ใช้งาน</label>
    <input type="text" formControlName="userName" placeholder="ชื่อผู้ใช้งาน"><br>

    <label for="userPassword">รหัสผ่าน</label>
    <input type="text" formControlName="userPassword" placeholder="ชื่อผู้ใช้งาน"><br>

   
    <label for="userFirstname">ชื่อ</label>
    <input type="text" formControlName="userFirstname" placeholder="ชื่อ"><br>

    <label for="userLastname">นามสกุล</label>
    <input type="text" formControlName="userLastname" placeholder="นามสกุล"><br>

    <label for="userCardId">เลขบัตรประจะตัวประชาชน</label>
    <input type="text" formControlName="userCardId" placeholder="เลขบัตรประจะตัวประชาชน"><br>

    <label for="userEmail">อีเมล</label>
    <input type="text" formControlName="userEmail" placeholder="อีเมล"><br>

    <label for="userPhone">เบอร์โทรศัพท์</label>
    <input type="text" formControlName="userPhone" placeholder="เบอร์โทรศัพท์"><br>
    
    <label for="userAddrss">ที่อยู่</label>
    <input type="text" formControlName="userAddrss" placeholder="ที่อยู่"><br>
    
    <label for="userRoleId">รหัสประเภทผู้ใช้งาน</label>
    <input type="text" formControlName="userRoleId" placeholder="รหัสประเภทผู้ใช้งาน"><br>
    
    
    
    
   
    
   
    
   
    
    
</form>


