<!-- <nav class="navbar navbar-expand-sm bg-light navbar-light sticky-top bg-slate-200">
  <div class="flex-1 " >
    <a class=" btn-ghost normal-case text-3xl mr-5 ml-10" href="/home">หน้าหลัก</a>
    <a class=" btn-ghost normal-case text-3xl mr-10 " href="/home/car/">หมวดหมู่รถยนต์</a>
    <a class=" btn-ghost normal-case text-3xl mr-10"href="/home/rentcar">เช่ารถยนต์</a>
    <a class=" btn-ghost normal-case text-3xl mr-10 " href="/home/contact">ติดต่อเรา</a>

  </div>

  <div class="flex-none gap-2">
    <a class=" btn-ghost normal-case text-3xl  ml-20" href="/home/register">สมัครสมาชิก</a>
    <a class=" btn-ghost normal-case text-3xl mr-5 ml-12" href="/home/login">เข้าสู่ระบบ</a>
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar mr-8">
        <div class="w-10 rounded-full">
          <img
            src="https://img2.thaipng.com/20180425/uiq/kisspng-computer-icons-black-white-people-critical-illness-5ae01eafe8a926.353543561524637359953.jpg" />
        </div>
      </label>
      <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
        <li><a href="/home/edit-personal">แก้ไขข้อมูลส่วนตัว</a></li>
        <li><a href="/home/edit-password">แก้ไขรหัสผ่าน</a></li>
        <li><a href="/home/receipt">การเช่ารถของฉัน</a></li>
        <li><a>ออกจากระบบ</a></li>
      </ul>
    </div>
  </div>
</nav> -->
<header class="lg:px-16 px-4 bg-white flex flex-wrap items-center py-4 shadow-md sticky top-0 z-50 ">
  <div class=" flex justify-between items-center">
      <a href="/home" class="text-3xl font-semibold mr-4">หน้าหลัก</a>
      
  </div>

  <label for="menu-toggle" class="pointer-cursor md:hidden block">
    <svg class="fill-current text-black"
      xmlns="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/car-rental-design-template-77de0dea1cd86b877d17741b33aae341_screen.jpg?ts=1619683777" width="20" height="20" viewBox="0 0 20 20">
      <title>menu</title>
      <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
    </svg>
  </label>
  <input class="hidden" type="checkbox" id="menu-toggle" />

  <div class="hidden md:flex md:items-center md:w-auto w-full" id="menu">
      <nav>
          <ul class="md:flex items-center justify-between text-3xl text-black pt-4 md:pt-0">
             
              <li><a class="md:p-4 py-3 px-0 block text-3xl font-semibold mr-4" href="/home/car">รถยนต์</a></li>
              <li><a class="md:p-4 py-3 px-0 block text-3xl font-semibold" href="/home/contact">ติดต่อเรา</a></li>
              
          </ul>
      </nav>
  </div>
</header>

<div class="hero min-h-16 "
  style="background-image: url(https://www.drivehub.com/_next/image?url=%2Fnext-assets%2Fimgs%2Fauthentication-bg.png&w=1920&q=40);">
  <div class="hero-overlay bg-opacity-60 "></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">ติดต่อเรา</h1>
      <p class="mb-5"></p>
    </div>
  </div>
</div>


<section class="bg-gray-100 ">
  <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 t">
    <div class="grid grid-cols-1 gap-x-16 gap-y-8 lg:grid-cols-5">
      <div class="lg:col-span-2 lg:py-12">
        <p class="max-w-xl text-2xl font-bold text-black"> วันเปิดทำการ. </p>
        <p class="max-w-xl text-lg text-black"> จันทร์-ศุกร์ เวลา 10:00น.-20:00น. </p>
        <p class="max-w-xl text-lg text-black"> เสาร์-อาทิตย์ เวลา 08:00น.-21:00น. </p>
        <div class="mt-8">
          <a href="" class="text-2xl font-bold text-black">ข้อมูลติดต่อ </a>
          <address class="mt-2 not-italic">
            <p class="max-w-xl text-lg text-black"> โทร : 0992318657 </p>
            <p class="max-w-xl text-lg text-black"> Line : Khunnnmin33</p>
            <p class="max-w-xl text-lg text-black"> Email : minpatisat1234@gmail.com </p>
          </address>
        </div>
      </div>
      

      


<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3831.382697354187!2d103.26840347500763!3d16.200753684498014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3122a6ae121c1c2f%3A0x626cae9fcd86bf3d!2z4Lih4Lir4Liy4Lin4Li04LiX4Lii4Liy4Lil4Lix4Lii4Lij4Liy4LiK4Lig4Lix4LiP4Lih4Lir4Liy4Liq4Liy4Lij4LiE4Liy4Lih!5e0!3m2!1sth!2sth!4v1688561683612!5m2!1sth!2sth"
  width="900" height="400" style="border:0;" allowfullscreen="" loading="lazy"
  referrerpolicy="no-referrer-when-downgrade min-h-screen mr-10">
</iframe>





