
<header class="lg:px-16 px-4 bg-white text-black flex flex-wrap items-center py-4 shadow-md sticky top-0 z-50 ">
    <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/car-rental-design-template-77de0dea1cd86b877d17741b33aae341_screen.jpg?ts=1619683777" class="h-28 mr-3 sm:h-28" alt="Landwind Logo">
    <div class=" flex justify-between items-center">
        <a href="/home" class="text-3xl font-semibold mr-4">หน้าหลัก</a>
        
    </div>
  
    <label for="menu-toggle" class="pointer-cursor md:hidden block">
      <svg class="fill-current text-black"
        xmlns="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/car-rental-design-template-77de0dea1cd86b877d17741b33aae341_screen.jpg?ts=1619683777" width="20" height="20" viewBox="0 0 20 20">
        <title>menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
      </svg>
    </label>
    <input class="hidden" type="checkbox" id="menu-toggle" />
  
    <div class="hidden md:flex md:items-center md:w-auto w-full" id="menu">
        <nav>
            <ul class="md:flex items-center justify-between text-3xl text-black pt-4 md:pt-0">
               
                <li><a class="md:p-4 py-3 px-0 block text-3xl font-semibold mr-4" href="/home/car">รถยนต์</a></li>
                <li><a class="md:p-4 py-3 px-0 block text-3xl font-semibold" href="/home/contact">ติดต่อเรา</a></li>
                
            </ul>
        </nav>
    </div>
  </header>

  

<div class="bg-slate-300">
    <div class="pt-6">
        <nav aria-label="Breadcrumb">
            <ol role="list" class="mx-auto flex max-w-2xl items-center space-x-2 px-4 sm:px-6 lg:max-w-7xl lg:px-8">



                <li class="text-sm">
                    <a class="font-semibold text-black hover:text-black text-5xl">HONDA CITY - 2022</a>
                </li>
            </ol>
        </nav>

        <!-- Image gallery -->
        <div class="mx-auto mt-6 max-w-2xl sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:gap-x-8 lg:px-8">
            <div class="aspect-h-4 aspect-w-3 hidden overflow-hidden rounded-lg lg:block">
                <img src="https://img.icarcdn.com/autospinn/body/000000019109_314a6036_2e4a_49d4_b38e_88d7ca0c5a27.jpg"
                    alt="Two each of gray, white, and black shirts laying flat."
                    class="h-full w-full object-cover object-center">
            </div>
            <div class="hidden lg:grid lg:grid-cols-1 lg:gap-y-8">
                <div class="aspect-h-2 aspect-w-3 overflow-hidden rounded-lg">
                    <img src="https://img.icarcdn.com/autospinn/body/000000937451_52c6062f_1dc5_4574_91ae_349a12febc04.jpg"
                        alt="Model wearing plain black basic tee." class="h-full w-full object-cover object-center">
                </div>
                <div class="aspect-h-2 aspect-w-3 overflow-hidden rounded-lg">
                    <img src="https://img.icarcdn.com/autospinn/body/000000825782_608dd3c9_8dcb_4929_9db1_6567e07d9f66.jpg"
                        alt="Model wearing plain gray basic tee." class="h-full w-full object-cover object-center">
                </div>
            </div>
            <div class="aspect-h-5 aspect-w-4 lg:aspect-h-4 lg:aspect-w-3 sm:overflow-hidden sm:rounded-lg">
                <img src="https://img.icarcdn.com/autospinn/body/000000145875_63577fd5_c5e9_4bb8_b605_e6ae84ed892e.jpg"
                    alt="Model wearing plain white basic tee." class="h-full w-full object-cover object-center">

            </div>
        </div>

        <!-- Product info -->
        <div
            class="mx-auto max-w-2xl px-4 pb-16 pt-10 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8 lg:px-8 lg:pb-24 lg:pt-16">
            <div class="lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
                <h1 class="text-2xl font-semibold tracking-tight text-gray-900 sm:text-3xl">ข้อตกลงและเงื่อนไข</h1>
            </div>

            <!-- Options -->
            <div class="mt-4 lg:row-span-3 lg:mt-2">
                <ul role="list" class="list-disc space-y-2 pl-4 text-sm">
                    <p class="text-3xl tracking-tight text-black font-semibold">อุปกรณ์อำนวนความสะดวกภายใน</p>
                    <li class="text-black"><span class="text-black font-semibold text-xl">หน้าจอแสดงข้อมูล Full Digital TFT ขนาด 10.2 นิ้ว</span></li>
        <li class="text-black"><span class="text-black font-semibold text-xl">หน้าจอเครื่องเสียง ระบบสัมผัส Touchscreen ขนาด 9 นิ้ว</span></li>
        <li class="text-black"><span class="text-black font-semibold text-xl">รองรับ Apple CarPlay และ Android Auto</span></li>
        <li class="text-black"><span class="text-black font-semibold text-xl">Wireless Charger</span></li>  
        <li class="text-black"><span class="text-black font-semibold text-xl">ช่องเชื่อมต่อ USB จำนวน 4 ช่อง</span></li> 
        <li class="text-black"><span class="text-black font-semibold text-xl">ระบบปรับอากาศแบบอัตโนมัติ แยกอิสระซ้าย-ขวา Dual Zone</span></li>     
                </ul>
                <!-- Reviews -->
                <div class="mt-6">

                    <div class="flex items-center">
                        <div class="flex items-center">
                            <!-- Active: "text-gray-900", Default: "text-gray-200" -->
                            
                            <div class="mt-4 lg:row-span-3 lg:mt-2">
                           
                        </div>
                        </div>
                       
                    </div>
                </div>
                <div class="flex flex-col px-4 py-6 md:p-6 xl:p-8 w-full bg-gray-50 dark:bg-gray-800 space-y-6 ml-24">
                    <h3 class="text-xl dark:text-white font-semibold leading-5 text-gray-800">สรุปรายการชำระทั้งหมด</h3>
                    <div class="flex justify-center items-center w-full space-y-4 flex-col border-gray-200 border-b pb-4">
                        <div class="flex justify-between w-full">
                            <p class="text-base dark:text-white leading-4 text-gray-800">ค่าเช่ารถ 2 วัน<br />1999*2</p>
                            <p class="text-base dark:text-gray-300 leading-4 text-gray-600">$56.00</p>
                        </div>
                        <div class="flex justify-between items-center w-full">
                            <p class="text-base dark:text-white leading-4 text-gray-800">ค่ามัดจำในวันรับรถ (ได้คืนในวันคืนรถ) 
                            <p class="text-base dark:text-gray-300 leading-4 text-gray-600">-$28.00 </p>
                        </div>
                        <div class="flex justify-between items-center w-full">
                            <p class="text-base dark:text-white leading-4 text-gray-800">ราคารวมทั้งหมด</p>
                            <p class="text-base dark:text-gray-300 leading-4 text-gray-600">$8.00</p>
                        </div>
                    </div>
                    
                    <div class="flex justify-between items-center w-full">
                        <p class="text-base dark:text-white font-semibold leading-4 text-gray-800">Total</p>
                        <p class="text-base dark:text-gray-300 font-semibold leading-4 text-gray-600">$36.00</p>
                    </div>
                </div>
                <form class="mt-10">
                    <!-- Colors -->
                   
                       

                        <fieldset class="mt-4">
                           
                            <div class="flex items-center space-x-3">
                       
                  
                            </div>
                        </fieldset>
                   

                    <!-- Sizes -->
                    <div class="mt-10">
                        

                        <fieldset class="mt-4">
                          
                            <div class="grid grid-cols-4 gap-4 sm:grid-cols-8 lg:grid-cols-4">
                               
                          
                                    <span class="pointer-events-none absolute -inset-px rounded-md"
                                        aria-hidden="true"></span>
                                
                              
                                
                      
                                    <span class="pointer-events-none absolute -inset-px rounded-md"
                                        aria-hidden="true"></span>
                                
                             
                   
                                    <span class="pointer-events-none absolute -inset-px rounded-md"
                                        aria-hidden="true"></span>
                                
                               
                   
                                    <span class="pointer-events-none absolute -inset-px rounded-md"
                                        aria-hidden="true"></span>
                                
                            
                                    <span class="pointer-events-none absolute -inset-px rounded-md"
                                        aria-hidden="true"></span>
                               
                                
                    
                                    <span class="pointer-events-none absolute -inset-px rounded-md"
                                        aria-hidden="true"></span>
                               
                                
                                    <span class="pointer-events-none absolute -inset-px rounded-md"
                                        aria-hidden="true"></span>
                                
                            </div>
                        </fieldset>
                    </div>

                    <button  routerLink= "/home/rentcar" 
                    class="dark:bg-white dark:text-gray-900 mt-5 ml-24 dark:hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 text-2xl flex items-center justify-center leading-none text-white bg-gray-800 w-full py-4 hover:bg-gray-700 ">เช่ารถคันนี้</button>
                </form>
            </div>

            <div class="py-10 lg:col-span-2 lg:col-start-1 lg:border-r lg:border-gray-200 lg:pb-16 lg:pr-8 lg:pt-6">
                <!-- Description and details -->
                <div>
                    <h3 class="sr-only">Description</h3>
                    <div class="mt-2">
                        
                        <ul role="list" class="list-disc space-y-2 pl-4 text-sm">
                            <h3 class="text-2xl font-semibold text-black">เอกสารที่ต้องใช้</h3>
                            <li class="text-black"><span class="text-black font-semibold text-xl">บัตรประจำตัวประชาชน หรือ หนังสือเดินทาง</span></li>
                            <h3 class="text-xl font-semibold text-black">- บัตรยังไม่หมดอายุ</h3>
                            <h3 class="text-xl font-semibold text-black">- มีอายุไม่น้อยกว่า 21 ปี</h3>
                            <li class="text-black"><span class="text-black font-semibold text-xl">ใบขับขี่ หรือใบขับขี่สากล</span></li>
                            <h3 class="text-xl font-semibold text-black">- บัตรยังไม่หมดอายุ</h3>
                            <h3 class="text-xl font-semibold text-black">- มีอายุไม่น้อยกว่า 21 ปี</h3>
                            <h3 class="text-xl font-semibold text-black">- บัตรต้องใช้งานมาแล้ว อย่างน้อย 1 ปีขึ้นไป</h3>
                            <h3 class="text-2xl font-semibold text-black">การจอง</h3>
                            <li class="text-black"><span class="text-black font-semibold text-xl">การันตีได้รถคันที่เลือก</span></li>
                            <li class="text-black"><span class="text-black font-semibold text-xl">เปลี่ยนแปลงข้อมูลตามเงื่อนไขที่กำหนด</span></li>
                            <li class="text-black"><span class="text-black font-semibold text-xl">ฟรียกเลิกการจอง (ตามเงื่อนไขที่กำหนด)</span>
                            </li>
                            <h3 class="text-2xl font-semibold text-black">การชำระเงิน</h3>
                            <li class="text-black"><span class="text-black font-semibold text-xl">ชำระค่าเช่าบางส่วนเมื่อทำการจองและชำระส่วนที่เหลือ ณ วันรับรถ</span></li>
                        </ul>
                    </div>
                    <div class="space-y-2">
                        <div class="mt-2">
                            <ul role="list" class="list-disc space-y-2 pl-4 text-sm">
                                <li class="text-black"><span class="text-black font-semibold text-xl">ช่องทางการชำระเงินตอนรับรถ รับชำระด้วยการโอนเงินผ่านบัญชีธนาคาร</span></li>
                                <h3 class="text-2xl font-semibold text-black">การรับรถ</h3>
                                <li class="text-black"><span class="text-black font-semibold text-xl">รับรถตามสถานที่และเวลาที่นัดหมายเพื่อรับรถ</span></li>
                                <li class="text-black"><span class="text-black font-semibold text-xl">มีบริการรับส่งนอกสถานที่ (อาจมีค่าบริการเพิ่มเติม)</span></li>
                                <h3 class="text-2xl font-semibold text-black">การคืนรถ</h3>
                            </ul>
                        </div>
                                   <ul role="list" class="list-disc space-y-2 pl-4 text-sm">
                                    <li class="text-black"><span class="text-black font-semibold text-xl">คืนรถตามสถานที่และเวลาที่นัดหมายเพื่อคืนรถ</span></li>
                                    <li class="text-black"><span class="text-black font-semibold text-xl">ส่งคืนรถด้วยน้ำมันเต็มถัง</span></li>
                                    <li class="text-black"><span class="text-black font-semibold text-xl">คืนค่าประกันความเสียหาย(มัดจำ) หลังคืนรถ</span></li>
                                </ul>         
                    </div>
                    
                </div>
               
            </div>
        </div>
    </div>
</div>

<footer class="footer footer-center p-8 bg-slate-700 text-base-content">
    
    <div>
      <p></p>
    </div>
  </footer>