<!-- 

<nav *ngIf="showNavbar" class="navbar navbar-expand-sm bg-light navbar-light sticky-top bg-slate-200">
    <div class="flex-1 " >
      <a class=" btn-ghost normal-case text-3xl mr-5 ml-10" href="/home">หน้าหลัก</a>
      <a class=" btn-ghost normal-case text-3xl mr-10 " href="/home/car/">หมวดหมู่รถยนต์</a>
      <a class=" btn-ghost normal-case text-3xl mr-10"href="/home/rentcar">เช่ารถยนต์</a>
      <a class=" btn-ghost normal-case text-3xl mr-10 " href="/home/contact">ติดต่อเรา</a>
  
    </div>
  
    <div class="flex-none gap-2">
      <a class=" btn-ghost normal-case text-3xl  ml-20" href="/home/register">สมัครสมาชิก</a>
      <a class=" btn-ghost normal-case text-3xl mr-5 ml-12" href="/home/login">เข้าสู่ระบบ</a>
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar mr-8">
          <div class="w-10 rounded-full">
            <img
              src="https://img2.thaipng.com/20180425/uiq/kisspng-computer-icons-black-white-people-critical-illness-5ae01eafe8a926.353543561524637359953.jpg" />
          </div>
        </label>
        <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
          <li><a href="/home/edit-personal">แก้ไขข้อมูลส่วนตัว</a></li>
          <li><a href="/home/edit-password">แก้ไขรหัสผ่าน</a></li>
          <li><a href="/home/receipt">การเช่ารถของฉัน</a></li>
          <li><a>ออกจากระบบ</a></li>
        </ul>
      </div>
    </div>
  </nav> -->

  <router-outlet></router-outlet>
  
  <!-- <footer *ngIf="showFooter" class="footer footer-center p-8 bg-slate-700 text-base-content text-end ">
    
    <div>
      <p></p>
    </div>
  </footer> -->

  