
<header class="lg:px-16 px-4 bg-white text-black flex flex-wrap items-center py-4 shadow-md sticky top-0 z-50 ">
  <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/car-rental-design-template-77de0dea1cd86b877d17741b33aae341_screen.jpg?ts=1619683777" class="h-28 mr-3 sm:h-28" alt="Landwind Logo">
  <div class=" flex justify-between items-center">
      <a href="/home" class="text-3xl font-semibold mr-4">หน้าหลัก</a>
      
  </div>

  <label for="menu-toggle" class="pointer-cursor md:hidden block">
    <svg class="fill-current text-black"
      xmlns="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/car-rental-design-template-77de0dea1cd86b877d17741b33aae341_screen.jpg?ts=1619683777" width="20" height="20" viewBox="0 0 20 20">
      <title>menu</title>
      <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
    </svg>
  </label>
  <input class="hidden" type="checkbox" id="menu-toggle" />

  <div class="hidden md:flex md:items-center md:w-auto w-full" id="menu">
      <nav>
          <ul class="md:flex items-center justify-between text-3xl text-black pt-4 md:pt-0">
             
              <li><a class="md:p-4 py-3 px-0 block text-3xl font-semibold mr-4" href="/home/car">รถยนต์</a></li>
              <li><a class="md:p-4 py-3 px-0 block text-3xl font-semibold" href="/home/contact">ติดต่อเรา</a></li>
              
          </ul>
      </nav>
  </div>

</header>
<a class="btn btn-ghost normal-case text-xl"></a>






<!-- <div class=" grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4">
  <div class="bg-gray-100 p-4">Item 1</div>
  <div class="bg-gray-100 p-4">Item 2</div>
  <div class="bg-gray-100 p-4">Item 3</div>
  <div class="bg-gray-100 p-4">Item 4</div>
</div> -->
<!-- <div class="hero min-h-16 "
  style="background-image: url(https://www.drivehub.com/_next/image?url=%2Fnext-assets%2Fimgs%2Fauthentication-bg.png&w=1920&q=40);">
  <div class="hero-overlay bg-opacity-60 "></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">หมวดหมู่รถยนต์</h1>
      <p class="mb-5"></p>
    </div>
  </div>
</div> -->
<!-- component -->
<div class="py-10 bg-white">
  <div class="container m-auto px-6 text-white md:px-12 xl:px-0">
    <div class="mx-auto grid gap-6 md:w-3/4 lg:w-full lg:grid-cols-3">
      <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
        <div class="mb-12 space-y-4">
          <h3 class="text-3xl font-semibold text-black">HONDA CIVIC - 2022</h3>
          <h3 class="mb-4 text-black font-semibold">ทะเบียนรถ :2ขญ 7648 </h3>
          <h3 class=" mb-4 text-black font-semibold"> จำนวนที่นั่ง : 4 คน </h3>
          <h3 class=" mb-4 text-black font-semibold"> เกียร์ : ออโต้ </h3> 
          <br> สถานะ : <span id="ContentPlaceHolder1_DataList1_openStatusLabel_0"><span
                style="color:green;  font-weight:bold;">ว่าง</span></span>
           <a class=" mb-4 text-black text-2xl ml-40 font-semibold"> 2,980บาท/วัน</a>
            <br>
        </div>
        <div class="rating">
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star  bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star  bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" checked />
        </div>
        <img src="https://www.honda.co.th/uploads/car_models/colors/1654530276_222.png">
        <button  routerLink= "/home/cardetails"  class=" btn  text-xl bg-blue-700  text-white">รายละเอียดรถเช่า
        </button>
      </div>

      <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
        <div class="mb-12 space-y-4">
          <h3 class="text-3xl font-semibold text-black">HONDA CITY - 2021</h3>
          <h3 class="mb-4 text-black font-semibold"> ทะเบียนรถ : กค 2685 </h3>
          <h3 class=" mb-4 text-black font-semibold">จำนวนที่นั่ง : 4 คน </h3>
          <h3 class=" mb-4 text-black font-semibold"> เกียร์ : ออโต้ </h3>
          <br> สถานะ : <span id="ContentPlaceHolder1_DataList1_openStatusLabel_0"><span
            style="color:green;  font-weight:bold;">ว่าง</span></span>
            <a class=" mb-4 text-black text-2xl ml-40 font-semibold"> 2,599บาท/วัน</a>
        <br>
        </div>
        <div class="rating">
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star  bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star  bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" checked />
        </div>
        <img src="https://www.honda.co.th/uploads/car_models/colors/1686680964_281.png">
        <button  routerLink= "/home/cardetail2" class=" btn  text-xl bg-blue-700 text-white">รายละเอียดรถเช่า
        </button>
      </div>
      <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
        <div class="mb-12 space-y-4">
          <h3 class="text-3xl font-semibold text-black">HONDA CITY BR-V - 2022</h3>
          <h3 class="mb-4 text-black font-semibold "> ทะเบียนรถ : งม 5932 </h3>
          <h3 class=" mb-4 text-black font-semibold">จำนวนที่นั่ง : 6 คน </h3>
          <h3 class=" mb-4 text-black font-semibold"> เกียร์ : ออโต้ </h3>
          <br> สถานะ : <span id="ContentPlaceHolder1_DataList1_openStatusLabel_0"><span
            style="color:green;  font-weight:bold;">ว่าง</span></span>
            <a class=" mb-4 text-black text-2xl ml-40 font-semibold"> 1,700บาท/วัน</a>
        <br>
        </div>
        <div class="rating">
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star  bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star  bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" checked />
        </div>
        <img src="https://www.honda.co.th/uploads/car_models/colors/1658764298_864.png">
        <button  routerLink= "/home/cardetail3" class=" btn  text-xl bg-blue-700 text-white">รายละเอียดรถเช่า
        </button>
      </div>
    </div>
  </div>
</div>

<!-- component -->
<div class="py-10 bg-white">
  <div class="container m-auto px-6 text-white md:px-12 xl:px-0">
    <div class="mx-auto grid gap-6 md:w-3/4 lg:w-full lg:grid-cols-3">
      <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
        <div class="mb-12 space-y-4">
          <h1 class="text-3xl font-semibold text-black">TOYOTA ALTIS - 2022</h1>
          <h3 class="mb-4 text-black font-semibold"> ทะเบียนรถ :ก-5832</h3>
          <h3 class=" mb-4 text-black font-semibold">จำนวนที่นั่ง : 4 คน </h3>
          <h3 class=" mb-4 text-black font-semibold"> เกียร์ : ออโต้ </h3>
          <br> สถานะ : <span id="ContentPlaceHolder1_DataList1_openStatusLabel_0"><span
            style="color:green;  font-weight:bold;">ว่าง</span></span>
            <a class=" mb-4 text-black text-2xl ml-40 font-semibold"> 1,320บาท/วัน</a>
        <br>

        </div>
        <div class="rating">
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star  bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star  bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" checked />
        </div>
        <img src="https://img.icarcdn.com/autospinn/body/000000856483_2b89e598_0cf4_4d2c_918d_eb5588fcfd1c.jpg">
        <button  routerLink= "/home/cardetail4" class=" btn text-xl text-right bg-blue-700 text-white ">รายละเอียดรถเช่า
        </button>
      </div>
      <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
        <div class="mb-12 space-y-4">
          <h3 class="text-3xl font-semibold text-black">TOYOTA FORTUNER -2022</h3>
          <h3 class="mb-4 text-black font-semibold">ทะเบียนรถ : ฒญ 8623</h3>
          <h3 class=" mb-4 text-black font-semibold">จำนวนที่นั่ง : 6 คน </h3>
          <h3 class=" mb-4 text-black font-semibold"> เกียร์ : ออโต้ </h3>
          <br> สถานะ : <span id="ContentPlaceHolder1_DataList1_openStatusLabel_0"><span
            style="color:green;  font-weight:bold;">ว่าง</span></span>
            <a class=" mb-4 text-black text-2xl ml-40 font-semibold"> 2,650บาท/วัน</a>
        <br>
        </div>
        <div class="rating">
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star  bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star  bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" checked />
        </div>
        <img src="https://images.autofun.co.th/file1/7d8717f46cf349989446fc3557a89453_606x402.jpg">
        <button  routerLink= "/home/cardetail5" class=" btn text-xl text-right bg-blue-700 text-white ">ราละเอียดรถเช่า
        </button>
      </div>
      <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
        <div class="mb-12 space-y-4">
          <h3 class="text-3xl font-semibold text-black">MG GS - 2021</h3>
          <h3 class="mb-4 text-black font-semibold "> ทะเบียนรถ : ล 7604</h3>
          <h3 class=" mb-4 text-black font-semibold">จำนวนที่นั่ง : 5 คน </h3>
          <h3 class=" mb-4 text-black font-semibold"> เกียร์ออโต้ </h3>
          <br> สถานะ : <span id="ContentPlaceHolder1_DataList1_openStatusLabel_0"><span
            style="color:green;  font-weight:bold;">ว่าง</span></span>
            <a class=" mb-4 text-black text-2xl ml-40 font-semibold"> 1,890บาท/วัน</a>
        <br>
        </div>
        <div class="rating">
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star  bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star  bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" checked />
        </div>
        <img src="https://www.siamcarforrent.com/wp-content/uploads/2017/06/unnamed2-398x206.png">
        <button  routerLink= "/home/cardetail6" class=" btn text-xl text-right bg-blue-700 text-white">รายละเอียดรถเช่า
        </button>
      </div>

    </div>
  </div>
</div>

<!-- component -->
<div class="py-10 bg-white">
  <div class="container m-auto px-6 text-white md:px-12 xl:px-0">
    <div class="mx-auto grid gap-6 md:w-3/4 lg:w-full lg:grid-cols-3">
      <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
        <div class="mb-12 space-y-4">
          <h1 class="text-3xl font-semibold text-black">SUZUKI SWIFT -2020</h1>
          <h3 class="mb-4 text-black  font-semibold"> ทะเบียนรถ : ต 6576</h3>
          <h3 class=" mb-4 text-black font-semibold">จำนวนที่นั่ง : 4 คน </h3>
          <h3 class=" mb-4 text-black font-semibold"> เกียร์ : ออโต้ </h3>
          <br> สถานะ : <span id="ContentPlaceHolder1_DataList1_openStatusLabel_0"><span
            style="color:green;  font-weight:bold;">ว่าง</span></span>
            <a class=" mb-4 text-black text-2xl ml-40 font-semibold"> 1,250บาท/วัน</a>
        <br>
        </div>
        <div class="rating">
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star  bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star  bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" checked />
        </div>
        <img src="https://www.siamcarforrent.com/wp-content/uploads/2017/01/Susuki-Swift-398x206.png">
        <button  routerLink= "/home/cardetail7" class=" btn text-xl text-right bg-blue-700 text-white ">รายละเอียดรถเช่า
        </button>
        
      </div>
      
      <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
        <div class="mb-12 space-y-4">
          <h3 class="text-3xl font-semibold text-black">FORD RANGER - 2021</h3>
          <h3 class="mb-4 text-black font-semibold"> ทะเบียนรถ : บ 8549</h3>
          <h3 class=" mb-4 text-black font-semibold">จำนวนที่นั่ง : 5 คน </h3>
          <h3 class=" mb-4 text-black font-semibold"> เกียร์ : ออโต้ </h3>
          <br> สถานะ : <span id="ContentPlaceHolder1_DataList1_openStatusLabel_0"><span
            style="color:green;  font-weight:bold;">ว่าง</span></span>
            <a class=" mb-4 text-black text-2xl ml-40 font-semibold"> 1,600บาท/วัน</a>
        <br>
        </div>
        <div class="rating">
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star  bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star  bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" checked />
        </div>
        <img src="https://www.ford.co.th//content/dam/ecomm/demo/pre-reveal/th_th/next-gen-ranger-stormtrak.jpg">
        <button  routerLink= "/home/cardetail8" class=" btn text-xl text-right bg-blue-700 text-white">รายละเอียดรถเช่า
        </button>
        
      </div>
     
      <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
        <div class="mb-12 space-y-4">
          <h3 class="text-3xl font-semibold text-black">FORD RANGER RAPTOR - 2022</h3>
          <h3 class="mb-4 text-black font-semibold"> ทะเบียนรถ :ต 0316 </h3>
          <h3 class=" mb-4 text-black font-semibold">จำนวนที่นั่ง : 5 คน </h3>
          <h3 class=" mb-4 text-black font-semibold"> เกียร์ : ออโต้ </h3>
          <br> สถานะ : <span id="ContentPlaceHolder1_DataList1_openStatusLabel_0"><span
            style="color:green;  font-weight:bold;">ว่าง</span></span>
            <a class=" mb-4 text-black text-2xl ml-40 font-semibold"> 1,899บาท/วัน</a>
        <br>
        </div>
        <div class="rating">
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" />
          <input type="radio" name="rating-1" class="mask mask-star bg-amber-300" checked />
        </div>
        <img
          src="https://www.ford.co.th//content/dam/ecomm/raptor/release-1/th/th-th/jellybean/ranger-raptor-new-jb.jpg">
        <button  routerLink= "/home/cardetail9" class=" btn text-xl text-right bg-blue-700 text-white ">รายละเอียดรถเช่า
        </button>
        
      </div>
    </div>
  </div>
</div>


<footer class="footer footer-center p-8 bg-slate-700 text-base-content">
    
  <div>
    <p></p>
  </div>
</footer>